// variables
$sponsorsBg: #2a9d8f;
$letraFooter: 'Source Sans Pro';
$colorFooter: #434343;
$colorIconosFooter: black;
$colorFooterBottom: #2a9d8f;
$concursoColor: #a8e7e9;

// ---subtitulos--- //

@mixin subtitulo(){
    padding: 20px;
    margin-bottom: 30px;
    font-size: 35px;
    text-transform: capitalize;
	text-align: center;
	text-decoration: underline;
}

a{
	color: black;
	text-decoration: none;
	text-style: none;
}

$etiquetasSubt: subtitulo__index, subtitulo__qs, subtitulo__vivirEn, subtitulo__viajes, subtitulo__contacto;

@each $subtitulo__x in $etiquetasSubt {
	.#{$subtitulo__x}{
		@include subtitulo();
	}
}

.viajes--color{
	background-color: lightgrey;
}

.sponsors--color{
	@include subtitulo();
	background-color: $sponsorsBg;
		a{
			color: black;
		}
}


// --- Contenido de Subtitulos --- //
@mixin imgHover {
	img:hover{
		filter: brightness(0.5);
	}
}

$noticias: pd__noticias, vivirEn__noticias, viajes__noticias, viajeros__noticias;

@each $noticia in $noticias {
	.#{$noticia}{
		@include imgHover();
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		font-size: 18px;
		padding: 10px;
	}
}

h4{
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	font-weight: 700;
	font-size: 30px;
}

.subrayado{text-decoration: underline;}

.container{ 
	margin-bottom: 50px;
}

//concurso 
.concurso--color{
	background-color: $concursoColor;
}

// footer
.footer--color{
	padding: 10px;
	background-color: $colorFooter;
}
footer{
	height: auto;
	width: 100%;
	font-family: $letraFooter;
	padding-top: 40px;
	color: #fff;
}
.footer-contenedor{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
		h3{
			font-family: 'Bebas Neue';
			color: $sponsorsBg;
			font-size: 1.8rem;
			font-weight: 400;
			text-transform: uppercase;
			line-height: 3rem;
		}
		p{
			max-width: 500px;
			margin: 10px auto;
			line-height: 28px;
			font-size: 14px;
		}
}
.footer__redes{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
		li{
			width: 50px;
			height: 50px;
			margin: 10px;
			a{
				display: block;
                padding: 5px;
                background: black;
                color: white;
                line-height: 40px;
                font-size: 18px;
                box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
                border-radius: 50%;
			}
			a:hover i{
					color: $sponsorsBg;
				}
		}
}
.footer-bottom{
	background: $colorFooterBottom;
	width: 100%;
	padding: 20px 0;
	text-align: center;
		p{
			font-size: 14px;
			word-spacing: 2px;
			text-transform: capitalize;
		}

		span{
			text-transform: uppercase;
			opacity: .7;
			font-weight: 200;
		}
}


// ----- Media screen celular carousel index principal
@media (max-width: 576px){
	#carousel{
		img{
			height: 500px;
		}
	}
}
