// ---subtitulos--- //

@mixin subtitulo(){
    padding: 30px;
    margin-bottom: 30px;
    font-size: 35px;
    text-transform: capitalize;
	text-align: center;
}

$etiquetasSubt: subtitulo__index, subtitulo__qs, subtitulo__vivirEn, subtitulo__viajes, subtitulo__contacto;

@each $subtitulo__x in $etiquetasSubt {
	.#{$subtitulo__x}{
		@include subtitulo();
	}
}

.footer--color{
	background-color: #74c69d;
}

.sponsors--color{
	@include subtitulo();
	background-color: $sponsorsBg;
		a{
			color: black;
		}
}


// --- Contenido de Subtitulos --- //
@mixin imgHover {
	img:hover{
		filter: brightness(0.3);
	}
}

$noticias: pd__noticias, vivirEn__noticias, viajes__noticias, viajeros__noticias;

@each $noticia in $noticias {
	.#{$noticia}{
		@include imgHover();
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		font-size: 18px;
		padding: 10px;
	}
}

h4{
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	font-weight: 700;
	font-size: 30px;
}

.subrayado{text-decoration: underline;}

.container{ 
	margin-bottom: 50px;
}