// variables //

$bodyBg: rgb(238, 238, 238);
$headerBg: #343a40;;
$tituloFontSize: 200%;
$navFontSize: 17px;


// ---header y barra de nav--- //

.header{
	z-index: 99;
	background-color: $headerBg;
	position: sticky;
	top: 0;

		a{
    		font-size: $navFontSize;
            text-decoration: none;
			padding: 10px;
		}
		.header__titulo{
			font-family: 'Bebas Neue';
	    	font-size: $tituloFontSize;
            text-decoration: uppercase;
		}
}

.notifProf{
	color: white;
	font-size: 20px;
	width: 20px;
	height: 20px
}

.header--margin{margin-bottom: 20px;}