// variables //

$bodyBg: rgb(238, 238, 238);
$headerBg: rgb(245, 198, 170);
$sponsorsBg: #2a9d8f;
$tituloFontSize: 200%;
$navFontSize: 17px;


// ---header y barra de nav--- //

.header{
	z-index: 99;
	background-color: $headerBg;

		a{
    		font-size: $navFontSize;
            text-decoration: none;
			padding: 10px;
		}
	
		.header__titulo{
			font-family: 'Bebas Neue';
	    	font-size: $tituloFontSize;
            text-decoration: uppercase;
		}
}

