// imports //
@import "navbar";
@import "areas";
// variables //

$bodyBg: rgb(238, 238, 238);
$headerBg: rgb(245, 198, 170);
$sponsorsBg: rgb(244, 223, 208);
$tituloFontSize: 200%;
$navFontSize: 20px;
$small: 575px;
$medium: 768px;
$big: 1200px;


// ---Texto alineado--- //

$aligns: justify, center, right, left;

@each $align in $aligns{
	.#{$align}{
		text-align: $align;
	}
}


// ---body--- //

body{
	overflow-x: hidden;
	background-color: $bodyBg;
}
